<div class="row">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-game-control (intervalEvent)="lastnumberRegistered($event)"></app-game-control>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-even *ngFor="let evennumber of evenNumber" [evenNumber]='evennumber'>{{evennumber}} </app-even>
      </div>
      <div class="col">
        <app-odd *ngFor="let oddnumber of oddNumber" [oddNumber]='oddnumber'>{{oddnumber}} </app-odd>
      </div>
    </div>
  </div>
</div>
